
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myProductVariationLabel">Create or edit a ProductVariation</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="productVariation.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_measureType">MeasureType</label>
            <select class="form-control" name="measureType" ng-model="productVariation.measureType" id="field_measureType">
               <option value="MG">MG</option>
               <option value="ML">ML</option>
               <option value="GM">GM</option>
               <option value="KG">KG</option>
               <option value="LTR">LTR</option>
               <option value="NO">NO</option>
            </select>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
