
<div>
    <h2><span>Price</span> {{price.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Price</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{price.price}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>BulkPrice</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{price.bulkPrice}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>OfferPrice</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{price.offerPrice}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Discount</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{price.discount}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>CreateDate</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{price.createDate}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>UpdateDate</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{price.updateDate}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="price"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
