
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPriceLabel">Create or edit a Price</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="price.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="price.price"
                    >

        </div>
        <div class="form-group">
            <label for="field_bulkPrice">BulkPrice</label>
            <input type="number" class="form-control" name="bulkPrice" id="field_bulkPrice"
                    ng-model="price.bulkPrice"
                    >

        </div>
        <div class="form-group">
            <label for="field_offerPrice">OfferPrice</label>
            <input type="number" class="form-control" name="offerPrice" id="field_offerPrice"
                    ng-model="price.offerPrice"
                    >

        </div>
        <div class="form-group">
            <label for="field_discount">Discount</label>
            <input type="number" class="form-control" name="discount" id="field_discount"
                    ng-model="price.discount"
                    >

        </div>
        <div class="form-group">
            <label for="field_createDate">CreateDate</label>
            <input type="datetime-local" class="form-control" name="createDate" id="field_createDate"
                    ng-model="price.createDate" ng-model-options="{timezone: 'UTC'}"
                    >

        </div>
        <div class="form-group">
            <label for="field_updateDate">UpdateDate</label>
            <input type="datetime-local" class="form-control" name="updateDate" id="field_updateDate"
                    ng-model="price.updateDate" ng-model-options="{timezone: 'UTC'}"
                    >

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
