<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1>Welcome, drugveda.com</h1>
            <div ng-switch="isAuthenticated()">
                <div  ng-switch-when="true">
                    <div class="main-page-link">
                      <a ui-sref="productCatalogue" >My Catalogue</a> 
                    </div>
                    
                   <div class="main-page-link">
                      <a ui-sref="order">Active Orders</a> 
                   </div>
                   <div class="main-page-link">
                      Orders History
                   </div>
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    If you want to <a href="#/login">authenticate</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    You don't have an account yet? <a href="#/register">Register a new account</a>
                </div>
            </div>          
        </div>
    </div>
</div>
