<div>

    <h2>Order Status Details</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="orderStatusDetails.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Order Status Detail</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a OrderStatusDetails</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteOrderStatusDetailsConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(orderStatusDetails.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this OrderStatusDetails?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    
                    <th>CreateDateTime</th>
                    <th>Status</th>
                    <th>Order</th>
                    <th>Order Status</th>
                    <th>Comment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="orderStatusDetails in orderStatusDetailss">                    
                    <td>{{orderStatusDetails.createDateTime}}</td>
                    <td>{{orderStatusDetails.status}}</td>
                    <td>{{orderStatusDetails.order.id}}</td>
                    <td>{{orderStatusDetails.orderStatus.id}}</td>
                    <td>{{orderStatusDetails.comment}}</td>
                   
                </tr>
            </tbody>
        </table>
    </div>
    
    <button type="submit"
            ui-sref="orderStatus.status({orderId:orderId})"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
