
<div>
    <h2><span>OrderStatusDetails</span> {{orderStatusDetails.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>CreateDateTime</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{orderStatusDetails.createDateTime}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Status</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{orderStatusDetails.status}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>order</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{orderStatusDetails.order.id}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>orderStatus</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{orderStatusDetails.orderStatus.id}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>orderDetails</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{orderStatusDetails.orderDetails.id}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="orderStatusDetails"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
