
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myOrderStatusDetailsLabel">Create or edit a OrderStatusDetails</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="orderStatusDetails.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_createDateTime">CreateDateTime</label>
            <input type="datetime-local" class="form-control" name="createDateTime" id="field_createDateTime"
                    ng-model="orderStatusDetails.createDateTime" ng-model-options="{timezone: 'UTC'}"
                    >

        </div>
        <div class="form-group">
            <label for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="orderStatusDetails.status"
                    >

        </div>

        <div class="form-group">
            <label for="field_order">order</label>
            <select class="form-control" id="field_order" name="order" ng-model="orderStatusDetails.order.id" ng-options="order.id as order.id for order in orders">
            </select>
        </div>
        <div class="form-group">
            <label for="field_orderStatus">orderStatus</label>
            <select class="form-control" id="field_orderStatus" name="orderStatus" ng-model="orderStatusDetails.orderStatus.id" ng-options="orderStatus.id as orderStatus.id for orderStatus in orderstatuss">
            </select>
        </div>
        <div class="form-group">
            <label for="field_orderDetails">orderDetails</label>
            <select class="form-control" id="field_orderDetails" name="orderDetails" ng-model="orderStatusDetails.orderDetails.id" ng-options="orderDetails.id as orderDetails.id for orderDetails in orderdetailss">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
