
<form name="editForm" role="form" novalidate ng-submit="saveImage()">
  
    <div class="modal-body">
        <div class="form-group" style="display: none;">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="productImage.id" readonly hidden="true">
        </div>
         <div class="form-group">
            <label for="field_product">product</label>
            <input type="text" class="form-control" id="field_product" name="product" ng-model="product.productName"/>
        </div>
        
        <div class="form-group">
	        <div class="btn btn-default" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
	  			accept="image/*" ngf-min-height="50">Select File</div> 
	  			<button class="btn btn-default" type="button" ng-click="startUpload()">Upload</button>
	  		</div>
	  	<div class="form-group">
  			Uploaded Image: <img ng-show="file" ngf-src="{{file}}"/>
  		</div>
        <div class="form-group"  ng-repeat="image in productimgs">
      
			<img ng-src="{{imagebase+image.imageUrl}}" style="width: 200px"/>
        </div>
            
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ui-sref="product">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
