
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myProductLabel">Create or edit a Product</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="product.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_productName">ProductName</label>
            <input type="text" class="form-control" name="productName" id="field_productName"
                    ng-model="product.productName"
                    >

        </div>
        <div class="form-group">
            <label for="field_createDate">CreateDate</label>
            <input type="datetime-local" class="form-control" name="createDate" id="field_createDate"
                    ng-model="product.createDate" ng-model-options="{timezone: 'UTC'}"
                    >

        </div>
        <div class="form-group">
            <label for="field_updateDate">UpdateDate</label>
            <input type="datetime-local" class="form-control" name="updateDate" id="field_updateDate"
                    ng-model="product.updateDate" ng-model-options="{timezone: 'UTC'}"
                    >

        </div>

        <div class="form-group">
            <label for="field_brand">brand</label>
            <!-- <select class="form-control" id="field_brand" name="brand" ng-model="product.brand.id" ng-options="brand.id as brand.brandName for brand in brands">
            </select> -->
            <input type="text" class="form-control" id="field_brand" name="brand" ng-model="product.brand" placeholder="Ex: Galaxo" typeahead="brand as brand.brandName for brand in brands | filter:$viewValue"/>
        </div>
        <div class="form-group">
            <label for="field_composition">composition</label>
            <input type="text" class="form-control" id="field_composition" name="composition" placeholder="Ex: Paracetamol" ng-model="product.composition" typeahead="composition as composition.composition for composition in compositions | filter:$viewValue"/>
            
        </div>
        <div class="form-group">
            <label for="field_productType">productType</label>
            <input type="text" class="form-control" id="field_productType" name="productType" placeholder="Ex: Tablet" ng-model="product.productType" typeahead="productType as productType.productType for productType in producttypes | filter:$viewValue"/>
            
        </div>
        
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <!-- button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button> -->
         <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
     
    </div>
</form>
