
<div>
    <h2><span>Product</span> {{product.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>ProductName</span>
                </td>
                <td>
                    <span>{{product.productName}}</span>
                </td>
            </tr>
           
            <tr>
                <td>
                    <span>Manufacturer</span>
                </td>
                <td>
                    <span><a ui-sref="brand.detail({id:product.brand.id})">{{product.brand.brandName}}</a></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Composition</span>
                </td>
                <td>
                    <span><a ui-sref="composition.detail({id:product.composition.id})">{{product.composition.composition}}</a></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Product Type</span>
                </td>
                <td>
                    <span><a ui-sref="productType.detail({id:product.productType.id})">{{product.productType.productType}}</a></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="product"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
