<div>

    <h2>Orders</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="order.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Order</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Order</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteOrderConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(order.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this Order?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Created</th>
                    <th>Total Amount</th>
                    <th>Discount</th>
                    <th>Discount Name</th>
                    <th>Product Units</th>
                    <th>Tax Name</th>
                    <th>Tax Rate</th>
                    <th>Vendor</th>
                    <th>Transaction Id</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in orders">
                    <td><a ui-sref="order.detail({id:order.id})">{{order.id}}</a></td>
                    <td>{{order.created}}</td>
                    <td>{{order.totalAmount}}</td>
                    <td>{{order.discount}}</td>
                    <td>{{order.discountName}}</td>
                    <td>{{order.productUnits}}</td>
                    <td>{{order.taxName}}</td>
                    <td>{{order.taxRate}}</td>
                    <td>{{order.vendor.id}}</td>
                    <td>{{order.transaction.id}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="orderDetails.detail.orderId({id:order.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> Details</span>
                        </button>
                        <button type="submit"
                                ui-sref="order.edit({id:order.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
           						ui-sref="orderStatus.status({orderId:order.id})"
            					class="btn btn-info btn-sm">
        					<span class="glyphicon glyphicon-bullhorn" style='content: "\e123"'></span>&nbsp;<span>Status</span>
   						</button>
                       
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
