
<div>
    <h2><span>Order</span> {{order.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Created</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{order.created}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>TotalAmount</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{order.totalAmount}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Discount</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{order.discount}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>DiscountName</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{order.discountName}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>ProductUnits</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{order.productUnits}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>TaxName</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{order.taxName}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>TaxRate</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{order.taxRate}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>vendor</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{order.vendor.id}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>transaction</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{order.transaction.id}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="order"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
