
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myOrderLabel">Create or edit a Order</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="order.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_created">Created</label>
            <input type="datetime-local" class="form-control" name="created" id="field_created"
                    ng-model="order.created" ng-model-options="{timezone: 'UTC'}"
                    >

        </div>
        <div class="form-group">
            <label for="field_totalAmount">TotalAmount</label>
            <input type="number" class="form-control" name="totalAmount" id="field_totalAmount"
                    ng-model="order.totalAmount"
                    >

        </div>
        <div class="form-group">
            <label for="field_discount">Discount</label>
            <input type="number" class="form-control" name="discount" id="field_discount"
                    ng-model="order.discount"
                    >

        </div>
        <div class="form-group">
            <label for="field_discountName">DiscountName</label>
            <input type="text" class="form-control" name="discountName" id="field_discountName"
                    ng-model="order.discountName"
                    >

        </div>
        <div class="form-group">
            <label for="field_productUnits">ProductUnits</label>
            <input type="number" class="form-control" name="productUnits" id="field_productUnits"
                    ng-model="order.productUnits"
                    >

        </div>
        <div class="form-group">
            <label for="field_taxName">Tax Name</label>
            <input type="text" class="form-control" name="taxName" id="field_taxName"
                    ng-model="order.taxName"
                    >

        </div>
        <div class="form-group">
            <label for="field_taxRate">Tax Rate</label>
            <input type="number" class="form-control" name="taxRate" id="field_taxRate"
                    ng-model="order.taxRate"
                    >

        </div>

        <div class="form-group">
            <label for="field_vendor">Vendor</label>
            <select class="form-control" id="field_vendor" name="vendor" ng-model="order.vendor.id" ng-options="vendor.id as vendor.id for vendor in vendors">
            </select>
        </div>
        <div class="form-group">
            <label for="field_transaction">transaction</label>
            <select class="form-control" id="field_transaction" name="transaction" ng-model="order.transaction.id" ng-options="transaction.id as transaction.id for transaction in transactions">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
