.visibility {
	display: none;
}

.catalogue-td {
	width: 10%;
	padding-top: 2%;
}

.main-page-link {
	height: 35px;
	font-size: x-large;
	width: 194px;
}

.btn-right {
	float: right;
	margin-right: 5%;
}