
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myVariationOptionLabel">Create or edit a VariationOption</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="variationOption.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_quanity">Quanity</label>
            <input type="number" class="form-control" name="quanity" id="field_quanity"
                    ng-model="variationOption.quanity"
                    >

        </div>
        <div class="form-group">
            <label for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                    ng-model="variationOption.active"
                    >

        </div>

        <div class="form-group">
            <label for="field_productVariation">productVariation</label>
            <select class="form-control" id="field_productVariation" name="productVariation" ng-model="variationOption.productVariation.id" ng-options="productVariation.id as productVariation.id for productVariation in productvariations">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
