
<div>
    <h2><span>VariationOption</span> {{variationOption.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Quanity</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{variationOption.quanity}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Active</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{variationOption.active}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>productVariation</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{variationOption.productVariation.id}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="variationOption"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
