
<div>
    <h2><span>Transaction</span> {{transaction.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>CreatedDateTime</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{transaction.createdDateTime}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>TransactionType</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{transaction.transactionType}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>ConsumerId</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{transaction.consumerId}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Amount</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{transaction.amount}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="transaction"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
