
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTransactionLabel">Create or edit a Transaction</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="transaction.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_createdDateTime">CreatedDateTime</label>
            <input type="datetime-local" class="form-control" name="createdDateTime" id="field_createdDateTime"
                    ng-model="transaction.createdDateTime" ng-model-options="{timezone: 'UTC'}"
                    >

        </div>
        <div class="form-group">
            <label for="field_transactionType">TransactionType</label>
            <input type="text" class="form-control" name="transactionType" id="field_transactionType"
                    ng-model="transaction.transactionType"
                    >

        </div>
        <div class="form-group">
            <label for="field_consumerId">ConsumerId</label>
            <input type="number" class="form-control" name="consumerId" id="field_consumerId"
                    ng-model="transaction.consumerId"
                    >

        </div>
        <div class="form-group">
            <label for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                    ng-model="transaction.amount"
                    >

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
