
<div>
    <h2><span>ProductImage</span> {{productImage.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>ImageName</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{productImage.imageName}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>ImageUrl</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{productImage.imageUrl}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Active</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control visibility" value="{{productImage.active}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>CratedDate</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control visibility" value="{{productImage.cratedDate}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>UpdatedDate</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control visibility" value="{{productImage.updatedDate}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>product</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{productImage.product.id}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="productImage"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
