
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myProductImageLabel">Create or edit a ProductImage</h4>
    </div>
    <div class="modal-body">
        <div class="form-group" style="display: none;">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="productImage.id" readonly hidden="true">
        </div>
         <div class="form-group">
            <label for="field_product">product</label>
            <input type="text" class="form-control" id="field_product" name="product" ng-model="productImage.product.id" typeahead="product as product.productName for product in products | filter:$viewValue" typeahead-on-select="onSelect($item, $model, $label)"/>
        </div>
        
        <div class="form-group">
	        <div class="btn btn-default" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
	  			accept="image/*" ngf-min-height="50">Select File</div> 
	  			<button class="btn btn-default" type="button" ng-click="startUpload()">Upload</button>
	  		</div>
	  	<div class="form-group">
  			Uploaded Image: <img ng-show="file" ngf-src={{file}}/>
  		</div>

        <div class="form-group" style="display: none;">
            <label for="field_imageName">ImageName</label>
            <input type="text" class="form-control" name="imageName" id="field_imageName"
                    ng-model="productImage.imageName"
                    >

        </div>
        <div class="form-group" style="display: none;">
            <label for="field_imageUrl">ImageUrl</label>
            <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                    ng-model="productImage.imageUrl"
                    >

        </div>
        <!-- <div class="form-group">
            <label for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                    ng-model="productImage.active"
                    >

        </div> -->

       
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
