<div>

    <h2>OrderDetailss</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="orderDetails.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new OrderDetails</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a OrderDetails</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteOrderDetailsConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(orderDetails.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this OrderDetails?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Units</th>
                    <th>Retail Price</th>
                    <th>Wholesale Price</th>
                    <th>PurchasedPrice</th>
                    <th>Order Id</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="orderDetails in orderDetailss">
                    <td><a ui-sref="orderDetails.detail({id:orderDetails.id})">{{orderDetails.id}}</a></td>
                    <td>{{orderDetails.productId}}</td>
                    <td>{{orderDetails.productName}}</td>
                    <td>{{orderDetails.units}}</td>
                    <td>{{orderDetails.retailPrice}}</td>
                    <td>{{orderDetails.wholeSalePrice}}</td>
                    <td>{{orderDetails.purchasedPrice}}</td>
                    <td>{{orderDetails.order.id}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="orderDetails.detail({id:orderDetails.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="orderDetails.edit({id:orderDetails.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                    </td>
                </tr>
                 
            </tbody>
        </table>
    </div>
       <button type="submit"
            ui-sref="order"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
    <button type="submit"
            ui-sref="orderStatus.status({orderId:orderId})"
            class="btn btn-info btn-right">
        <span class="glyphicon glyphicon-bullhorn" style='content: "\e123"'></span>&nbsp;<span>Status</span>
    </button>
</div>
