
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myOrderDetailsLabel">Create or edit a OrderDetails</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="orderDetails.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_productId">ProductId</label>
            <input type="number" class="form-control" name="productId" id="field_productId"
                    ng-model="orderDetails.productId"
                    >

        </div>
        <div class="form-group">
            <label for="field_productName">ProductName</label>
            <input type="text" class="form-control" name="productName" id="field_productName"
                    ng-model="orderDetails.productName"
                    >

        </div>
        <div class="form-group">
            <label for="field_units">Units</label>
            <input type="number" class="form-control" name="units" id="field_units"
                    ng-model="orderDetails.units"
                    >

        </div>
        <div class="form-group">
            <label for="field_retailPrice">RetailPrice</label>
            <input type="number" class="form-control" name="retailPrice" id="field_retailPrice"
                    ng-model="orderDetails.retailPrice"
                    >

        </div>
        <div class="form-group">
            <label for="field_wholeSalePrice">WholeSalePrice</label>
            <input type="number" class="form-control" name="wholeSalePrice" id="field_wholeSalePrice"
                    ng-model="orderDetails.wholeSalePrice"
                    >

        </div>
        <div class="form-group">
            <label for="field_purchasedPrice">PurchasedPrice</label>
            <input type="number" class="form-control" name="purchasedPrice" id="field_purchasedPrice"
                    ng-model="orderDetails.purchasedPrice"
                    >

        </div>

        <div class="form-group">
            <label for="field_order">order</label>
            <select class="form-control" id="field_order" name="order" ng-model="orderDetails.order.id" ng-options="order.id as order.id for order in orders">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
