
<div>
    <h2><span>OrderDetails</span> {{orderDetails.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>ProductId</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{orderDetails.productId}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>ProductName</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{orderDetails.productName}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Units</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{orderDetails.units}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>RetailPrice</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{orderDetails.retailPrice}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>WholeSalePrice</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{orderDetails.wholeSalePrice}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>PurchasedPrice</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{orderDetails.purchasedPrice}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>order</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{orderDetails.order.id}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="orderDetails"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
