
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myOrderStatusLabel">Create or edit a OrderStatus</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="orderStatus.id" readonly>
        </div>
        <div class="form-group">
            <label for="field_order">order</label>
            <input type="text" class="form-control" name="units" id="field_units"
                    ng-model="orderStatus.order.id" readonly>
        </div>
        <div class="form-group">
            <label for="field_eta">Eta</label>
            <input type="datetime-local" class="form-control" name="eta" id="field_eta"
                    ng-model="orderStatus.eta" ng-model-options="{timezone: 'UTC'}"
                    >

        </div>
        <div class="form-group">
            <label for="field_units">Units</label>
            <input type="number" class="form-control" name="units" id="field_units"
                    ng-model="orderStatus.units"
                    >
        </div>
        <div class="form-group">
            <label for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="orderStatus.status" id="field_status">
               <option value="AWAITING_ACCEPTANCE">AWAITING ACCEPTANCE</option>
               <option value="ACCEPTED">ACCEPTED</option>
               <option value="PROCESSING">PROCESSING</option>
               <option value="PARTIALLY_PROCESSED">PARTIALLY PROCESSED</option>
               <option value="PACKED">PACKED</option>
               <option value="DISPATCHED">DISPATCHED</option>
               <option value="CANCELED">CANCELED</option>
            </select>

        </div>
        <div class="form-group">
            <label for="field_order">Comment</label>
            <input type="text" class="form-control" name="units" id="field_units"
                    ng-model="orderStatus.comment">
        </div>
       
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
