<div>

    <h2>OrderStatuss</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="orderStatus.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new OrderStatus</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a OrderStatus</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteOrderStatusConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(orderStatus.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this OrderStatus?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Eta</th>
                    <th>Units</th>
                    <th>Status</th>
                    <th>order</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a ui-sref="orderStatus.detail({id:orderStatus.id})">{{orderStatus.id}}</a></td>
                    <td>{{orderStatus.eta}}</td>
                    <td>{{orderStatus.units}}</td>
                    <td>{{orderStatus.status}}</td>
                    <td>{{orderStatus.order.id}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="orderStatusDetails.getDetailsWithParams({orderId:orderStatus.order.id,statusId:orderStatus.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="orderStatus.edit({orderId:orderStatus.order.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <button type="submit"
            ui-sref="order"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
