
<div>
    <h2><span>OrderStatus</span> {{orderStatus.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Eta</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{orderStatus.eta}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Units</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{orderStatus.units}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Status</span>
                </td>
                <td>
                    <span class="input-sm form-control readonly"
                          translate-interpolation="messageformat"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>order</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{orderStatus.order.id}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="orderStatus.status({orderId:orderStatus.order.id})"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
