
<div>
    <h2><span>Brand</span> {{brand.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>BrandName</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{brand.brandName}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>BrandDescription</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{brand.brandDescription}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>CratedDate</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{brand.cratedDate}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>UpdatedDate</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{brand.updatedDate}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="brand"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
