
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTaxLabel">Create or edit a Tax</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="tax.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="tax.name"
                    >

        </div>
        <div class="form-group">
            <label for="field_tax">Tax</label>
            <input type="number" class="form-control" name="tax" id="field_tax"
                    ng-model="tax.tax"
                    >

        </div>
        <div class="form-group">
            <label for="field_colExt1">ColExt1</label>
            <input type="number" class="form-control" name="colExt1" id="field_colExt1"
                    ng-model="tax.colExt1"
                    >

        </div>
        <div class="form-group">
            <label for="field_colExt2">ColExt2</label>
            <input type="number" class="form-control" name="colExt2" id="field_colExt2"
                    ng-model="tax.colExt2"
                    >

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
