
<div>
    <h2><span>Tax</span> {{tax.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Name</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{tax.name}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Tax</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{tax.tax}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>ColExt1</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{tax.colExt1}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>ColExt2</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{tax.colExt2}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="tax"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
