
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCartLabel">Create or edit a Cart</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="cart.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                    ng-model="cart.quantity"
                    >

        </div>
        <div class="form-group">
            <label for="field_productCatalougeId">ProductCatalougeId</label>
            <input type="number" class="form-control" name="productCatalougeId" id="field_productCatalougeId"
                    ng-model="cart.productCatalougeId"
                    >

        </div>
        <div class="form-group">
            <label for="field_userId">UserId</label>
            <input type="number" class="form-control" name="userId" id="field_userId"
                    ng-model="cart.userId"
                    >

        </div>
        <div class="form-group">
            <label for="field_addedTime">AddedTime</label>
            <input type="datetime-local" class="form-control" name="addedTime" id="field_addedTime"
                    ng-model="cart.addedTime" ng-model-options="{timezone: 'UTC'}"
                    >

        </div>
        <div class="form-group">
            <label for="field_token">Token</label>
            <input type="text" class="form-control" name="token" id="field_token"
                    ng-model="cart.token"
                    >

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
