
<div>
    <h2><span>Cart</span> {{cart.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Quantity</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cart.quantity}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>ProductCatalougeId</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cart.productCatalougeId}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>UserId</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cart.userId}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>AddedTime</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cart.addedTime}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Token</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cart.token}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="cart"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
