<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><span>drugveda.com</span> </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">
            <ul class="nav navbar-nav nav-pills navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home">
                        <span class="glyphicon glyphicon-home"></span>
                        <span>Home</span>
                    </a>
                </li>
                <li ui-sref-active="active" ng-switch-when="true" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    <span class="hidden-tablet">
                                        Entities
                                    </span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ><a ui-sref="brand"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >brand</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="composition"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >composition</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="productType"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >productType</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="address"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >address</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="state"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >state</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="price"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >price</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="gPSLocation"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >gPSLocation</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="product"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >product</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="productCategory"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >productCategory</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="productImage"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >productImage</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="productOption"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >productOption</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="vendor"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >vendor</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="sKU"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >sKU</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="tax"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >tax</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="productVariation"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >productVariation</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="variationOption"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >variationOption</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="productCatalogue"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >productCatalogue</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="transaction"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >transaction</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="order"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >order</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="orderDetails"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >orderDetails</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="orderStatus"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >orderStatus</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="orderStatusDetails"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >orderStatusDetails</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="cart"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >cart</span></a></li>
                        <!-- JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('account')}" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span class="hidden-tablet">
                                        Account
                                    </span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="settings"><span class="glyphicon glyphicon-wrench"></span>
                            &#xA0;<span>Settings</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="password"><span class="glyphicon glyphicon-lock"></span>
                            &#xA0;<span>Password</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>
                            &#xA0;<span>Log out</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span>
                            &#xA0;<span>Authenticate</span></a></li>

                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="register"><span class="glyphicon glyphicon-plus-sign"></span>
                            &#xA0;<span>Register</span></a></li>
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('admin')}"  ng-switch-when="true" has-role="ROLE_ADMIN" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-tower"></span>
                                    <span class="hidden-tablet">Administration</span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="metrics"><span class="glyphicon glyphicon-dashboard"></span>
                            &#xA0;<span>Metrics</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="health"><span class="glyphicon glyphicon-heart"></span>
                            &#xA0;<span>Health</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="configuration"><span class="glyphicon glyphicon-list-alt"></span>
                            &#xA0;<span>Configuration</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="audits"><span class="glyphicon glyphicon-bell"></span>
                            &#xA0;<span>Audits</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="logs"><span class="glyphicon glyphicon-tasks"></span>
                            &#xA0;<span>Logs</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="docs"><span class="glyphicon glyphicon-book"></span>
                            &#xA0;<span>API</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
