<form name="editForm" role="form" novalidate ng-submit="saveTax()">

    <div class="modal-body">
        <div class="form-group">
            <label for="field_product">Select Tax</label>
            <input type="text" class="form-control" id="field_product" name="product" ng-model="tax.name" placeholder="Select Tax" typeahead="tax as tax.name for tax in taxs | filter:$viewValue" typeahead-on-select="onSelect($item, $model, $label)">
        </div>  
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="productCatalogue.tax.id" readonly>
        </div>
        <div class="form-group">
            <label for="field_name">Tax Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="productCatalogue.tax.name"
                    >

        </div>
        <div class="form-group">
            <label for="field_tax">Tax Percentage</label>
            <input type="number" class="form-control" name="tax" id="field_tax"
                    ng-model="productCatalogue.tax.tax"
                    >

        </div>
        <div class="form-group">
            <label for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                    ng-model="productCatalogue.active"
                    >

        </div>     
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ui-sref="productCatalogue">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>