<div class="table-responsive">
 <table class="table table-striped">
 <tbody><tr>
       <td class="catalogue-td" style="width: 10%;padding-top: 2%;">        
                <button class="btn btn-primary" ui-sref="productCatalogue.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create Product</span>
                </button><br/><br/>
                <button class="btn btn-primary" ui-sref="productCatalogue.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Make Tax</span>
                </button><br/>
               
           
            
            </td>
<td>
<form name="editForm" role="form" novalidate ng-submit="save()">


    <div class="modal-body">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="productCatalogue.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_minOrder">MinOrder</label>
            <input type="number" class="form-control" name="minOrder" id="field_minOrder"
                    ng-model="productCatalogue.minOrder"
                    >

        </div>
        <div class="form-group">
            <label for="field_applyTax">ApplyTax</label>
            <input type="checkbox" class="form-control" name="applyTax" id="field_applyTax"
                    ng-model="productCatalogue.applyTax"
                    >
        </div>

        <div class="form-group">
            <label for="field_tax">Tax</label>
            <input type="text" class="form-control" id="field_tax" name="tax" ng-model="productCatalogue.tax" placeholder="Ex: Value Added Tax" typeahead="tax as tax.name for tax in taxs | filter:$viewValue"/>
        </div>
        <div class="form-group">
            <label for="field_productVariation">Product Preferences</label>
            <input type="text" class="form-control" id="field_productVariation" name="productVariation" placeholder="Ex: ML, NO, MG" ng-model="productCatalogue.productVariation" typeahead="productVariation as productVariation.measureType for productVariation in productvariations | filter:$viewValue"/>
        </div>
        <div class="form-group">
            <label for="field_vendor">Vendor</label>
            <input type="text" class="form-control" id="field_vendor" name="vendor" ng-model="productCatalogue.vendor"  typeahead="vendor as vendor.vendorName for vendor in vendors | filter:$viewValue"/>          
        </div>
        <div class="form-group">
            <label for="field_product">Product Name</label>
            <input type="text" class="form-control" id="field_product" name="product" ng-model="productCatalogue.product" placeholder="Crocin" typeahead="product as product.productName for product in products | filter:$viewValue">
        </div>
        <div class="form-group">
            <label for="field_price">Price</label>
            <input type="text" class="form-control" id="field_price" name="price" ng-model="productCatalogue.price" typeahead="price as price.price for price in prices | filter:$viewValue">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ui-sref="productCatalogue">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
</td></tr>
</tbody>
</table>
</div>
