<form name="editForm" role="form" novalidate ng-submit="saveVariation()">
	<div class="modal-body" id="packaging-variation">
		
		<div class="form-group">
		            <label for="field_measureType">MeasureType {{productVariation.measureType}}</label>{{productVariation.measureType}}
		            <select class="form-control" name="measureType" ng-model="productVariation.measureType" id="field_measureType">
		               <option value="MG">MG</option>
		               <option value="ML">ML</option>
		               <option value="GM">GM</option>
		               <option value="KG">KG</option>
		               <option value="LTR">LTR</option>
		               <option value="NO">NO</option>
		            </select>
		
		</div>
		<div class="form-group" ng-repeat="option in variationOptions">
		            <label for="field_quanity">Packaging Variation</label>
		            <input type="number" class="form-control" name="quanity" id="field_quanity"
		                    ng-model="option.quanity"/><button ng-click="removeFrom(variationOptions, $index)">Delete</button>
		
		</div>
		<button type="button" ng-click="addTo(variationOptions,{quanity:'',active: true})">Add More</button>
		
	</div>
	<div class="modal-footer">
        <button type="button" class="btn btn-default" ui-sref="productCatalogue">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
  </div>
</form>