
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myProductCatalogueLabel">Create or edit a ProductCatalogue</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="productCatalogue.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_minOrder">MinOrder</label>
            <input type="number" class="form-control" name="minOrder" id="field_minOrder"
                    ng-model="productCatalogue.minOrder"
                    >

        </div>
        <div class="form-group">
            <label for="field_applyTax">ApplyTax</label>
            <input type="checkbox" class="form-control" name="applyTax" id="field_applyTax"
                    ng-model="productCatalogue.applyTax"
                    >

        </div>
        <div class="form-group">
            <label for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                    ng-model="productCatalogue.active"
                    >

        </div>

        <div class="form-group">
            <label for="field_tax">tax</label>
            <select class="form-control" id="field_tax" name="tax" ng-model="productCatalogue.tax.id" ng-options="tax.id as tax.id for tax in taxs">
            </select>
        </div>
        <div class="form-group">
            <label for="field_productVariation">productVariation</label>
            <select class="form-control" id="field_productVariation" name="productVariation" ng-model="productCatalogue.productVariation.id" ng-options="productVariation.id as productVariation.id for productVariation in productvariations">
            </select>
        </div>
        <div class="form-group">
            <label for="field_vendor">vendor</label>
            <select class="form-control" id="field_vendor" name="vendor" ng-model="productCatalogue.vendor.id" ng-options="vendor.id as vendor.id for vendor in vendors">
            </select>
        </div>
        <div class="form-group">
            <label for="field_product">product</label>
            <select class="form-control" id="field_product" name="product" ng-model="productCatalogue.product.id" ng-options="product.id as product.id for product in products">
            </select>
        </div>
        <div class="form-group">
            <label for="field_price">price</label>
            <select class="form-control" id="field_price" name="price" ng-model="productCatalogue.price.id" ng-options="price.id as price.id for price in prices">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
