
<div>
    <h2><span>ProductCatalogue</span> {{productCatalogue.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>MinOrder</span>
                </td>
                <td>
                    <span>{{productCatalogue.minOrder}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>ApplyTax</span>
                </td>
                <td>
                    <span>{{productCatalogue.applyTax}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Tax</span>
                </td>
                <td>
                    <span><a ui-sref="tax.detail({id:productCatalogue.tax.id})">{{productCatalogue.tax.name}}</a></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Tax Rate</span>
                </td>
                <td>
                    <span>{{productCatalogue.tax.tax}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Product Packaging</span>
                </td>
                <td>
                    <span>{{productCatalogue.productVariation.measureType}}</span>
                </td>
            </tr>
             <tr>
                <td>
                    <span>Product Packaging Options</span>
                </td>
                <td>
                    <span ng-repeat="variationOption in productCatalogue.productVariation.variationoptions">{{variationOption.quanity}}{{$last ? '' : ', '}}</span>
                </td>
            </tr>
            
            <tr>
                <td>
                    <span>Vendor</span>
                </td>
                <td>
                    <span>{{productCatalogue.vendor.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Product/Brand Name</span>
                </td>
                <td>
                    <span>{{productCatalogue.product.productName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Composition</span>
                </td>
                <td>
                    <span><a ui-sref="composition.detail({id:productCatalogue.product.composition.id})">{{productCatalogue.product.composition.composition}}</a></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Product Type</span>
                </td>
                <td>
                    <span>{{productCatalogue.product.productType.productType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Manufacturer</span>
                </td>
                <td>
                    <span><a ui-sref="brand.detail({id:productCatalogue.product.brand.id})">{{productCatalogue.product.brand.brandName}}</a></span>
                </td>
            </tr>
              <tr>
                <td>
                    <span>Prouduct Images</span>
                </td>
                <td>
                    <span>Images To Be Shown</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Product Price</span>
                </td>
                <td>
                    <span>{{productCatalogue.price.price}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Retail Price</span>
                </td>
                <td>
                    <span>{{productCatalogue.price.price}}</span>
                </td>
            </tr>
             <tr>
                <td>
                    <span>Bulk Price</span>
                </td>
                <td>
                    <span>{{productCatalogue.price.bulkPrice}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Offer Price</span>
                </td>
                <td>
                    <span>{{productCatalogue.price.offerPrice}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Discount</span>
                </td>
                <td>
                    <span>{{productCatalogue.price.discount}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="productCatalogue"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
