<div class="table-responsive">
 <table class="table table-striped">
 <tbody><tr>
       <td class="catalogue-td" style="width: 10%;padding-top: 2%;">        
                <button class="btn btn-primary" ui-sref="productCatalogue.edit({id:productCatalogue.id})">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create Product</span>
                </button><br/><br/>
                 <button class="btn btn-primary" ng-if="productCatalogue.id != undefined" ui-sref="productCatalogue.new.tax({id:productCatalogue.id})">
                    <span class="glyphicon glyphicon-flash"></span> <span>Tax</span>
                </button><br/><br/>            
            
        </td>
<td>


<div ui-view> 
<form name="editForm" role="form" novalidate ng-submit="save()">
 <div class="modal-body">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="productCatalogue.id" readonly>
        </div>
        <div class="form-group">
            <label for="field_product">Product Name</label>
            <input type="text" class="form-control" id="field_product" name="product" ng-model="productCatalogue.product" placeholder="Crocin" typeahead="product as product.productName for product in products($viewValue)" ng-model-options="{debounce: 1000}"/>
        </div>            
        <div class="form-group">
            <label for="field_price">Retail Price</label>
            <input type="text" class="form-control" id="field_price" name="price" ng-model="productCatalogue.price.price" >
        </div>
        <div class="form-group">
            <label for="field_price">Bulk Price</label>
            <input type="text" class="form-control" id="field_price" name="price" ng-model="productCatalogue.price.bulkPrice" >
        </div>
         <div class="form-group">
            <label for="field_price">Discount Price</label>
            <input type="text" class="form-control" id="field_price" name="price" ng-model="productCatalogue.price.offerPrice">
        </div>
         <div class="form-group">
            <label for="field_price">Discount Percent</label>
            <input type="text" class="form-control" id="field_price" name="price" ng-model="productCatalogue.price.discount">
        </div>
        <div class="form-group">
            <label for="field_minOrder">MinOrder</label>
            <input type="number" class="form-control" name="minOrder" id="field_minOrder" ng-model="productCatalogue.minOrder" min="0">
        </div>
     </div>
  <div class="modal-footer">
        <button type="button" class="btn btn-default" ui-sref="productCatalogue">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
  </div>
  </form>
</div>

</td></tr>
</tbody>
</table>
</div>
