<div>

    <h2>Product Catalogue</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="productCatalogue.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Make Product Entry in Catalogue</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search the Products</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteProductCatalogueConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(productCatalogue.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this Product from Catalogue?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>MinOrder</th>
                    <th>ApplyTax</th>
                    <th>Tax Name</th>
                    <th>Product Packaging</th>
                    <th>Vendor</th>
                    <th>Brand Name/Product Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="productCatalogue in productCatalogues">
                    <td><a ui-sref="productCatalogue.detail({id:productCatalogue.id})">{{productCatalogue.id}}</a></td>
                    <td>{{productCatalogue.minOrder}}</td>
                    <td>{{productCatalogue.applyTax}}</td>
                    <td>{{productCatalogue.tax.name}}</td>
                    <td>{{productCatalogue.productVariation.measureType}}</td>
                    <td>{{productCatalogue.vendor.vendorName}}</td>
                    <td>{{productCatalogue.product.productName}}</td>
                    <td>{{productCatalogue.price.price}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="productCatalogue.detail({id:productCatalogue.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="productCatalogue.edit({id:productCatalogue.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(productCatalogue.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
