
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="mySKULabel">Create or edit a SKU</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="sKU.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_createDate">CreateDate</label>
            <input type="datetime-local" class="form-control" name="createDate" id="field_createDate"
                    ng-model="sKU.createDate" ng-model-options="{timezone: 'UTC'}"
                    >

        </div>
        <div class="form-group">
            <label for="field_updateDate">UpdateDate</label>
            <input type="datetime-local" class="form-control" name="updateDate" id="field_updateDate"
                    ng-model="sKU.updateDate" ng-model-options="{timezone: 'UTC'}"
                    >

        </div>

        <div class="form-group">
            <label for="field_vendor">vendor</label>
            <select class="form-control" id="field_vendor" name="vendor" ng-model="sKU.vendor.id" ng-options="vendor.id as vendor.id for vendor in vendors">
            </select>
        </div>
        <div class="form-group">
            <label for="field_price">price</label>
            <select class="form-control" id="field_price" name="price" ng-model="sKU.price.id" ng-options="price.id as price.id for price in prices">
            </select>
        </div>
        <div class="form-group">
            <label for="field_product">product</label>
            <select class="form-control" id="field_product" name="product" ng-model="sKU.product.id" ng-options="product.id as product.id for product in products">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
