
<div>
    <h2><span>SKU</span> {{sKU.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>CreateDate</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{sKU.createDate}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>UpdateDate</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{sKU.updateDate}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>vendor</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{sKU.vendor.id}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>price</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{sKU.price.id}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>product</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{sKU.product.id}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="sKU"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
