
<div>
    <h2><span>ProductType</span> {{productType.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>ProductType</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{productType.productType}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>CratedDate</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{productType.cratedDate}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>UpdatedDate</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{productType.updatedDate}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="productType"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
