
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myProductOptionLabel">Create or edit a ProductOption</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="productOption.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_measureType">MeasureType</label>
            <select class="form-control" name="measureType" ng-model="productOption.measureType" id="field_measureType">
               <option value="MG">MG</option>
               <option value="ML">ML</option>
               <option value="GM">GM</option>
               <option value="KG">KG</option>
               <option value="LTR">LTR</option>
               <option value="NO">NO</option>
            </select>

        </div>
        <div class="form-group">
            <label for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                    ng-model="productOption.quantity"
                    >

        </div>
        <div class="form-group">
            <label for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                    ng-model="productOption.active"
                    >

        </div>
        <div class="form-group">
            <label for="field_cratedDate">CratedDate</label>
            <input type="datetime-local" class="form-control" name="cratedDate" id="field_cratedDate"
                    ng-model="productOption.cratedDate" ng-model-options="{timezone: 'UTC'}"
                    >

        </div>
        <div class="form-group">
            <label for="field_updatedDate">UpdatedDate</label>
            <input type="datetime-local" class="form-control" name="updatedDate" id="field_updatedDate"
                    ng-model="productOption.updatedDate" ng-model-options="{timezone: 'UTC'}"
                    >

        </div>

        <div class="form-group">
            <label for="field_product">product</label>
            <select class="form-control" id="field_product" name="product" ng-model="productOption.product.id" ng-options="product.id as product.id for product in products">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
