
<div>
    <h2><span>ProductOption</span> {{productOption.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>MeasureType</span>
                </td>
                <td>
                    <span class="input-sm form-control readonly"
                          translate-interpolation="messageformat"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Quantity</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{productOption.quantity}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Active</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{productOption.active}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>CratedDate</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{productOption.cratedDate}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>UpdatedDate</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{productOption.updatedDate}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>product</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{productOption.product.id}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="productOption"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
