
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myProductCategoryLabel">Create or edit a ProductCategory</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="productCategory.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_categoryName">CategoryName</label>
            <input type="text" class="form-control" name="categoryName" id="field_categoryName"
                    ng-model="productCategory.categoryName"
                    >

        </div>
        <div class="form-group">
            <label for="field_categoryDescription">CategoryDescription</label>
            <input type="text" class="form-control" name="categoryDescription" id="field_categoryDescription"
                    ng-model="productCategory.categoryDescription"
                    >

        </div>
        <div class="form-group">
            <label for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                    ng-model="productCategory.active"
                    >

        </div>
        <div class="form-group">
            <label for="field_cratedDate">CratedDate</label>
            <input type="datetime-local" class="form-control" name="cratedDate" id="field_cratedDate"
                    ng-model="productCategory.cratedDate" ng-model-options="{timezone: 'UTC'}"
                    >

        </div>
        <div class="form-group">
            <label for="field_updatedDate">UpdatedDate</label>
            <input type="datetime-local" class="form-control" name="updatedDate" id="field_updatedDate"
                    ng-model="productCategory.updatedDate" ng-model-options="{timezone: 'UTC'}"
                    >

        </div>
      
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
