
<div>
    <h2><span>ProductCategory</span> {{productCategory.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>CategoryName</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{productCategory.categoryName}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>CategoryDescription</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{productCategory.categoryDescription}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Active</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{productCategory.active}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>CratedDate</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{productCategory.cratedDate}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>UpdatedDate</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{productCategory.updatedDate}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>product</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{productCategory.product.id}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="productCategory"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
